html, body { overflow-x: hidden }

body {
	font-family:arial,helvetica,clean,sans-serif;
	text-align: center;
	margin-left: 0px auto;
	margin-right: 0px auto;
	color: #323232;
	/*background-color: blue;*/
	}

.jump-to-content {
	display: none;
	}

/* DEFAULT HTML STLES */

.collection-contents p {
	margin: 5px 0 5px 0;
	}
	
.collection-contents b {
	font-weight: bold;
	}

.collection-contents strong {
	font-weight: bold;
	}

.collection-contents ul 	{
	margin: 10px 0 10px 0;

	}
.collection-contents ul li {
	list-style: disc;
	margin: 0 50px 5px 20px;
	}

.collection-contents blockquote {
        padding: 10px;
     }

/* MARC STYLES */
.collection-contents h2 { font-weight:bold; margin-top: 10px;  }

/* EAD STYLES */

.collection-guide .title .hitsection { background: yellow; }
.collection .hitsection { background: yellow; }
.collection .toc-titles .subhit { color:#C2492C;  }
.collection .toc-titles .subhit a { color:#C2492C;  }
.collection .collection-contents-container .subhit { color:#C2492C; }

/*.c0x { border-top: thin solid #CCCCCC; text-align: left; text-indent: -1em; }*/

.c0x-notes { padding-left: 3px; }
.c0x-notes b { color: #555555; }

div.cx { margin-top: 10px; margin-bottom: 10px; font-size: 90%; overflow: hidden; }

.collection-contents .hr {
	border-top: 1px #617805 solid;
	padding-top: 10px;
	width: 610px;
	}

.cx div.c { float: left; width: 111px; /*clear: both;*/}

.cx p { margin-top: 0px; margin-bottom: 0px;}
.collection-contents img { margin-top: 0px; margin-left: 0px; margin-right: 0px; margin-bottom: 0px;}

.collection .row2-right-top .navCategory,
.collection .row2-right-top .c01,
.collection .row2-right-top .c02,
.collection .row2-right-top .c03,
.collection .row2-right-top .c04,
.collection .row2-right-top .c05,
.collection .row2-right-top .c06,
.collection .row2-right-top .c07,
.collection .row2-right-top .c08,
.collection .row2-right-top .c09,
.collection .row2-right-top .c10,
.collection .row2-right-top .c11,
.collection .row2-right-top .c12 {
	margin-bottom: 2px;
	/*border: 1px green dashed;*/
	}

.collection-contents td { padding-right:1em; }

.c01 b { color: #617805;}

.collection-contents .c01 { margin-left: 0em; width: 470px; float: left; }
.collection-contents .c02 { margin-left: 0em; width: 470px; float: left; }
.collection-contents .c03 { margin-left: 20px; width: 450px; float: left; }
.collection-contents .c04 { margin-left: 40px; width: 430px; float: left; }
.collection-contents .c05 { margin-left: 60px; width: 410px; float: left; }
.collection-contents .c06 { margin-left: 80px; width: 390px; float: left; }
.collection-contents .c07 { margin-left: 100px; width: 370px; float: left; }
.collection-contents .c08 { margin-left: 120px; width: 350px; float: left; }
.collection-contents .c09 { margin-left: 140px; width: 330px; float: left; }
.collection-contents .c10 { margin-left: 160px; width: 310px; float: left; }
.collection-contents .c11 { margin-left: 180px; width: 290px; float: left; }
.collection-contents .c12 { margin-left: 200px; width: 270px; float: left; }

.collection-contents div.ead-p img,
.collection-contents .cx img {
	margin-left: 0px; margin-right: 3px;
	}

.toc-titles .c01 { margin-left: 15px; }
.toc-titles .c02 { margin-left: 30px; }
.toc-titles .navAction { font-size: 95%; }
ol.ead-arabic li { list-style:decimal; }
ol.ead-upperalpha li { list-style:upper-alpha; }
ol.ead-loweralpha li { list-style:lower-alpha; }
ol.ead-upperroman li { list-style:upper-roman; }
ol.ead-lowerroman li { list-style:lower-roman; }
.ead-list li { list-style:disc; }
.ead-list-unmarked li { list-style:none; }
ol, ul, dl { padding-left: 2em; }
/* li { list-style: disc;} */
.ead-bold { font-weight:bold; }
.ead-bolditalic { font-style:italic; font-weight:bold; }
.ead-doublequote:before, .ead-doublequote:after { content:'"'; }
.ead-boldsmcaps { font-variant:small-caps; font-weight:bold; }
.ead-boldunderline { font-weight:bold; text-decoration:underline; }
.ead-italic { font-style:italic; }
.ead-nonproport { font-family:courier; }
.ead-smcaps { font-variant:small-caps; }
.ead-sub { vertical-align:sub; }
/*.ead-super { vertical-align:super; }*/
.ead-super {font-size:90%; vertical-align:top; }
.ead-underline { text-decoration:underline; } 

/* BEGIN COLLECTION STYLES */

.collection div.collection-result {
	margin-left: 8px;
	margin-bottom: 20px;
	margin-top: 10px;
	margin-right: 16px;
	overflow: hidden;
	width: 610px;
	/*border: 1px red solid;*/ 
}

.collection .row1 {
	margin-top: 6px;
	overflow: hidden;
	width: 970px;
	clear: both;
	/*border: 1px red solid;*/
	}

.collection .row1-left {
	float: left;
	width: 652px;
	height: 152px;
	/*overflow: auto;*/
	background-color: #e6eded;
	}
	
.collection .row1-right {
	float: right;
	width: 313px;
	height: 152px;
	background-color: #e7e4e3;
	}

.collection .row2 {
	margin-top: 6px;
	overflow: hidden;
	width: 970px;
	clear: both;
	/*border: 1px red solid;*/
	}

.collection .row2 .row2-container {
	height: 500px;
	overflow: auto;
	width: 100%;
	/*border: 1px black solid;*/
	}

.collection .row2 .row2-container .title-hdr {
	float: left;
	/*width: 651px;*/
	margin-bottom: 8px;
	border: 1px #959593 solid;
	}

.collection .row2-left {
	float: left;
	width: 651px;
	height: 457px;
	border: 1px #959593 solid;
	/*border: 1px green solid;*/
	}

.collection .row2-left-inner {
	padding: 8px 0px 8px 8px;
	/*border: 1px green solid;*/
	}

/*.collection .row2-left .NavWatch {
	margin-top: 10px;
	height: 55px;
	border: 1px green solid;
	}*/

/*.collection .row2-left .NavWatch-sub {
	margin-top: 10px;
	height: 45px;
	border: 1px green solid;	
	}*/

.collection .row2-left .heading {
	margin-left: 8px;
	font-size: 120%;
	font-weight: bold;
	}
	
.collection .row2-left .collection-id {
	margin-top: 5px;
	margin-left: 16px;
	font-size: 90%;
	/*border: 1px blue solid;*/
	}

.collection .row2-left .series-heading {
	margin-left: 8px;
	font-size: 100%;
	font-weight: bold;
	}

.collection .row2-left .sub-series-heading {
	font-size: 90%;
	margin-left: 16px;
	margin-top: 5px;	
	}

.collection .row2-left .sub-heading-1 {
	font-size: 120%;
	font-weight: bold;
	}

.collection .row2-left .sub-heading-2 {
	margin-top: 10px;
	font-weight: bold;	
	}
	
.collection .row2-left .collection-contents {
	width: 100%;
	height: 375px;
	overflow: auto;
	margin-top: 15px;
	/*border: 1px blue solid;*/
	}

.collection-contents div.ead-p,
.collection-contents p {
	margin-bottom: 10px;
	/*margin-top: 10px;*/
	/*border: 1px blue solid;*/
	}

.collection .row2-left .collection-item {
	margin-bottom: 20px;
	overflow: hidden;
	width: 94%;
	/*border: 1px blue solid;*/
	}

.collection .row2-left .collection-heading {
	width: 100px;
	float: left;
	font-weight: bold;
	/*border: 1px blue solid;*/
	}

.collection .row2-left .collection-description {
	width: 470px;
	float: left;
	/*border: 1px red solid;*/
	}

.collection .collection-description .more {
	margin-left: 5px;
	}

.collection .collection-description .more a {
	color: #b24414;
	font-size: 85%;
	}

.collection .row2-right {
	float: right;
	width: 313px;
	height: 457px;
	background-color: #fff;
	/*border: 1px blue solid;*/
	}

.collection .row2-right-top {
	width: 313px;
	height: 403px; 
	background-color: #e6ebec;
	/*border: 1px red solid;*/
	}

.collection .row2-right-top-inner {
	padding: 4px 0px 4px 10px;	
	}

.collection .search-hits {
	padding: 5px 10px 5px 0px;
	overflow: hidden;
	width: 90%;
	}

.collection .number-search-hits {
	float: left;
	font-size: 90%;
	font-weight: normal;
	color: #617805;
	}

.collection .clear-search-hits {
	float: left;
	margin-left: 15px;
	font-size: 85%;
	}

.collection .clear-search-hits a:link,
.collection .clear-search-hits a:visited {
	text-decoration: underline;
	}

.collection .clear-search-hits a:hover,
.collection .clear-search-hits a:active {
	text-decoration: none;
	}

.collection .row2-right-top .collection-contents-container {
	margin: 4px 10px 0px 0px;
	padding: 5px 5px 5px 5px;
	border: 1px #c0c5c5 solid;
	}

.collection .row2-right-top .heading {
	font-size: 110%;
	font-weight: bold;
	}

.collection-contents-container ul {
	padding-left: 1px;
	}

.collection-contents-container li {
	list-style: none;
	font-size: 85%;
	margin-left: 0px;
	margin-bottom: 2px;
	/* border: 1px blue solid; */
	}

.collection-contents-container a:link,
.collection-contents-container a:visited {
	text-decoration: underline;
	}

.collection-contents-container a:hover,
.collection-contents-container a:active {
	text-decoration: none;
	}

.collection-contents-container a.on {
	font-weight: bold;	
	}

.collection-contents-container a.off {
	font-weight: normal;	
	}

.collection .toc-titles {
	height: 275px;
	overflow: auto;
	padding: 4px 10px 4px 10px;
	font-size: 90%;
	/*border: 1px green solid;*/
	}

.collection .toc-titles .title1 {
	margin-bottom: 2px;
	}

.collection .toc-titles .title2 {
	margin-bottom: 2px;
	margin-left: 20px;
	}


.collection .toc-titles .title1 a,
.collection .toc-titles .title2 a {
	font-size: 85%;
	/*border: 1px red solid;*/
	}

.collection .row2-right-bottom {
	float: right;	
	width: 313px;
	height: 62px;
	margin-top: 6px;
	background-color: #e7e4e3;
	/*border: 1px blue solid;*/
	}

.collection .row2-right-bottom-inner {
	padding: 5px 0px 5px 10px;
	font-size: 90%;
	/*border: 1px blue solid;*/
	}

.collection .row2-right-bottom-inner .comments-heading {
	font-size: 110%;
	font-weight: bold;
	}

.collection .row2-right-bottom-inner .comments-sign-in a:link,
.collection .row2-right-bottom-inner .comments-sign-in a:visited {
	text-decoration: underline;
	}

.collection .row2-right-bottom-inner .comments-sign-in a:hover,
.collection .row2-right-bottom-inner .comments-sign-in a:active {
	text-decoration: none;
	}

.collection .row2-right-bottom-inner .comments-view {
	font-size: 90%;
	margin-top: 2px;
	}

.collection .row2-right-bottom-inner .comments-view a:link,
.collection .row2-right-bottom-inner .comments-view a:visited {
	text-decoration: underline;
	}

.collection .row2-right-bottom-inner .comments-view a:hover,
.collection .row2-right-bottom-inner .comments-view a:active {
	text-decoration: none;
	}

.collection .title {
	margin: 8px 0px 0px 15px;
	font-size: 140%;
	/*border: 1px green solid;*/
	}

.collection .institution {
	/*font-size: 90%;
	font-weight: bold;*/
	margin: 8px 90px 0px 80px;
	/*border: 1px green solid;*/
	}

.collection .institution a:link,
.collection .institution a:visited,
.collection .institution a:hover,
.collection .institution a:active {
	color: #335c64;
	font-size: 85%;
	font-weight: normal;
	font-style: normal;
	}

.collection .collection-number {
	font-size: 90%;
	font-weight: bold;
	margin: 3px 90px 0px 80px;
	/*border: 1px green solid;*/
	}

.collection .location-row {
	margin: 8px 0px 0px 15px;
	/*border: 1px black solid;*/
	}

.collection .location-row .car-icon {
	margin-bottom: 0px;
	/*border: 1px red solid;*/
	}

.collection .location {
	margin-left: 5px;
	}

.collection .location-row a:link,
.collection .location-row a:visited,
.collection .location-row a:hover,
.collection .location-row a:active {
	color: #335c64;
	font-size: 85%;
	font-weight: normal;
	font-style: normal;
	margin-top: 0px;
	}

/*.collection .eye-icon {

	}*/
	
.collection .collection-items {
	margin-left: 25px;
	/*border: 1px red solid;*/
	}

.collection .online-items {
	margin-left: 5px;
	}

.collection .navCategory .icon,
.collection .c02 .icon,
.collection .c01 .icon {
	margin-right: 2px;
	}

/* TOP RIGHT ROW COLLECTION STYLES */

.collection .row1-right .heading {
	font-size: 110%;
	font-weight: bold;
	margin: 4px 10px 2px 10px;	
	}

.collection .row1-right .guide-entire {
	font-size: 	85%;
	margin: 0px 10px 2px 10px;
	/*border: 1px red solid;*/
	}

.collection .row1-right .guide-entire a:link,
.collection .row1-right .guide-entire a:visited {
	text-decoration: underline;
	}

.collection .row1-right .guide-entire a:hover,
.collection .row1-right .guide-entire a:active {
	text-decoration: none;
	}

.collection .row1-right .guide-download {
	font-size: 	85%;
	margin: 0px 10px 2px 10px;
	/*border: 1px red solid;*/
	}

.collection .row1-right .guide-download a:link,
.collection .row1-right .guide-download a:visited {
	text-decoration: underline;
	}

.collection .row1-right .guide-download a:hover,
.collection .row1-right .guide-download a:active {
	text-decoration: none;
	}

.collection .row1-right .collection-search {
	margin: 7px 10px 0px 10px;
	padding: 5px 5px 5px 5px;
	border: 1px #626665 solid;
	}

.collection .row1-right .search-inside {
	font-size: 85%;
	font-weight: bold;
	}

.collection .row1-right .radio-button-top {
	font-size: 85%;
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 0px;
	}

.collection .row1-right .radio-button {
	font-size: 85%;
	font-weight: normal;
	}

.collection .text-field {
	width: 200px;
	}

/* STYLES FOR SEARCH RESULTS PAGE PAGINATION FUNCTIONALITY 111208/CT */

.collection .pagination-hdr {
        width: 600px;
        height: 28px;
        margin: 8px 0px 24px 8px;
        border: 1px #918f90 solid;
        }

.collection .pagination-hdr .pagination-item {
        margin-right: 15px;
        color: #161415;
        font-size: 90%;
        font-weight: bold;
        }

.collection #results-page .caption  {
	   	padding-right: 6px;
		/*border: 1px green solid; */ 
 		}

.collection #results-page span  {
		margin-left: 2px;
		margin-right: 2px;		
	   	/*border: 1px black solid;*/   
        }

.collection .pagination-hdr #results-page a {
        font-weight: bold;
		margin-left: 2px;
		margin-right: 2px;	
		/*border: 1px red solid;*/
        }

.collection .pagination-hdr table {
        width: 100%;
        margin: 3px 0px 0px 8px;
        }

/*.collection .pagination-hdr .pagination-item #results-page {
		padding-right: 6px;
        border: 1px red solid;
		}

.collection .pagination-hdr .pagination-item .go-hide {
		margin-left: 3px;
        }*/

/* STYLES FOR COLLECTION PAGE#14 111408/CT */

.collection div.collection-result .col-left {
		float: left;
		margin-top: 8px;
		/*border: 1px blue solid;*/
		} 

.collection div.collection-result .col-right {
		float: left;
		margin-left: 15px;
		margin-top: 8px;
		width: 350px;	
		/*border: 1px green solid;*/
		} 

.collection .collection_title {
		margin-left: 0px;
		margin-bottom: 16px;
		font-weight: bold;
		font-size: 110%;		
        /*border: 1px red solid;*/
	}

.collection .collection_subtitle {
		margin-left: 0px;
		margin-bottom: 32px;
		padding-left: 8px;
		font-weight: bold;
 		font-size: 100%;
        /*border: 1px green solid;*/
	}

.collection .object-title {
		margin: 10px 0px 8px 0px;
		font-size: 85%;
		/*border: 1px red solid;*/	
	}

.collection div.collection-result .col-left img {
		margin-left: 8px; 
	}


/* BEGIN COLLECTION GUIDE PAGE STYLES 020409/CT */

.collection-guide .row2-right-top .c01 {
	margin-bottom: 4px;
	/*border: 1px green dashed;*/
	}

.collection-guide .row2-right-top .c01 a {
	font-size: 95%;
	/*border: 1px green dashed;*/
	}

.collection-guide .bgnd-wrapper {
	background-color: #bcc9ca;
	width: 970px; 
	}

.collection-guide .toc-titles .hitsection a { background: yellow; color:#000; font-weight:bold; margin-left: 16px; }
/*.collection-guide .toc-titles .subhit a { color:#C2492C; font-weight:bold; }
.collection-guide .toc-titles .subhit a { background: yellow; color:#000; font-weight:bold; margin-left: 16px; }
.collection-guide .row1-right-mid .subhit a { background: yellow; color:#000; font-weight:bold; margin-left: 12px; }*/

/*.collection-guide .collection-contents-container .subhit a,
.collection-guide .collection-description .subhit {
	background: yellow; font-weight:bold;
	}*/

.collection-guide .subhit a,
.collection-guide .subhit {
	background: yellow; font-weight:bold; margin-right: 3px;
	}
	
/*.collection-guide .cx .subhit {
	background: yellow; font-weight:bold;
	}*/

.collection-guide .ead-p img {
	margin: 0px;
	padding: 0px;
	}

.collection-guide .row2-right-top .navCategory {
	margin-bottom: 4px;
	/*border: 1px green dashed;*/
	}

.collection-guide .row2-right-top .navCategory a {
	font-size: 95%;
	/*border: 1px green dashed;*/
	}

.collection-guide .page-title {
	margin-left: 14px;
	padding-top: 7px;
	font-weight: bold;
	font-size: 120%;		
	float: left;
    /*border: 1px red solid;*/	
	}

.collection-guide div.collection-result {
	margin-left: 8px;
	margin-bottom: 20px;
	margin-top: 10px;
	margin-right: 16px;
	overflow: hidden;
	width: 610px;
	/*border: 1px red solid;*/ 
	}

.collection-guide .row1 {
	margin-top: 0px;
	overflow: hidden;
	width: 970px;
	height: 144px;
	clear: both;
	/*border: 1px red solid;*/
	}

.collection-guide .row1-left {
	float: left;
	display: inline;
	margin-top: 7px;
	margin-left: 7px;
	width: 644px;
	height: 144px;
	/*overflow: auto;*/
	background-color: #e1e8e9;
	}

.collection-guide .row1-left .col-left {
	float: left;
	width: 145px;
	/*border: 1px red solid;*/
	}

.collection-guide .row1-left .col-right {
	float: left;
	width: 492px;
	height: 164px;
	/*border: 1px blue solid;*/
	}
	
.collection-guide .row1-right {
	float: right;
	display: inline;
	position: relative;
	z-index: 1;
	margin-top: 0px;
	margin-right: 7px;
	width: 307px;
	height: 68px;
	*height: 60px; /* IE7 */
	background-color: #e7e4e3;
	}

.collection-guide .row1-right-top {
	float: right;
	display: inline;	
	width: 305px;
	height: 20px;
	margin-top: 7px;
	margin-right: 7px;
	border: 1px #fff solid;
	border-bottom: none;
	/*background-color: #e6ebec;*/
	}

.collection-guide .row1-right-mid {
	float: right;
	display: inline;	
	width: 307px;
	height: 21px;
	margin-top: 0px;
	margin-right: 7px;
	padding-top: 4px;
	padding-bottom: 4px;
	background-color: #e7e4e3;
	}

.collection-guide .row1-right-mid-2 {
	float: right;
	display: inline;	
	width: 305px;
	height: 20px;
	margin-top: 6px;
	margin-right: 7px;
	border: 1px #fff solid;	
	border-bottom: none;
	}

.collection-guide .middle-row {
	margin-top: 6px;
	/*overflow: hidden;*/
	width: 970px;
	min-height: 40px;
	clear: both;
	/*border: 1px red solid;*/
	}

.collection-guide .middle-row .middle-row-inner-left {
	float: left;
	display: inline;
	margin-left: 7px;
	margin-bottom: 6px;	
	width: 642px;
	height: 40px;
	border: 1px #fff solid;	
	}

.collection-guide .middle-row .middle-row-inner-right {
	float: right;
	display: inline;
	margin-right: 7px;
	width: 304px;
	height: 40px;
	border: 1px #fff solid;		
	}

.collection-guide .middle-row .middle-row-inner-left .label,
.collection-guide .middle-row .middle-row-inner-right .label {
	font-size: 110%;
	font-weight: bold;
	/*width: 200px;*/
	margin-left: 7px;
	padding: 2px 0px 0px 0px;
	border: none;
	}

.collection-guide .row2 {
	margin-top: 6px;
	overflow: hidden;
	width: 970px;
	clear: both;
	/*border: 1px red solid;*/
	}

.collection-guide .row2 .row2-container {
	height: 500px;
	overflow: auto;
	width: 100%;
	/*border: 1px black solid;*/
	}

.collection-guide .row2 .row2-container .title-hdr {
	float: left;
	/*width: 651px;*/
	margin-bottom: 8px;
	border: 1px #959593 solid;
	}

.collection-guide .row2-left {
	float: left;
	display: inline;
	margin-left: 7px;	
	width: 644px;
	height: 457px;
	}

.collection-guide .row2-left-inner {
	padding: 8px 0px 8px 8px;
	height: 434px;
	overflow: auto;
	overflow-x: hidden;
	background-color: #fff;
	}

/*.collection .row2-left .NavWatch {
	margin-top: 10px;
	height: 55px;
	border: 1px green solid;
	}*/

/*.collection .row2-left .NavWatch-sub {
	margin-top: 10px;
	height: 45px;
	border: 1px green solid;	
	}*/

.collection-guide .row2-left .heading {
	margin-left: 8px;
	font-size: 120%;
	font-weight: bold;
	}
	
.collection-guide .row2-left .collection-id {
	margin-top: 5px;
	margin-left: 16px;
	font-size: 90%;
	/*border: 1px blue solid;*/
	}

.collection-guide .row2-left .series-heading {
	margin-left: 8px;
	font-size: 100%;
	font-weight: bold;
	}

.collection-guide .row2-left .sub-series-heading {
	font-size: 90%;
	margin-left: 16px;
	margin-top: 5px;	
	}

.collection-guide .row2-left .sub-heading-1 {
	font-size: 120%;
	font-weight: bold;
	}

.collection-guide .row2-left .sub-heading-2 {
	margin-top: 10px;
	font-weight: bold;	
	}

.collection-guide .row2-left .collection-contents {
	margin-top: 0px;
	}
	
.collection-guide .row2-left .collection-item {
	margin-bottom: 20px;
	overflow: hidden;
	width: 94%;
	/*border: 1px blue solid;*/
	}


.collection-guide .row2-left .collection-contents .collection-admin-view li  {
	list-style-type: disc;
	margin-top: 0px;
	margin-left: 32px;
	}

.collection-guide .row1-left .collection-title {
	/*width: 145px;*/
	margin-top: 14px;
	margin-left: 7px;
	margin-bottom: 32px;
	float: left;
	font-size: 95%;
	font-weight: bold;
	/*border: 1px blue solid;*/
	}
	
/*.collection-guide .row1-left .collection-institution {
	width: 145px;
	margin-left: 7px;
	margin-bottom: 33px;
	float: left;
	font-size: 95%;	
	font-weight: bold;
	border: 1px blue solid;
	}*/

.collection-guide .row1-left .row1-collection-number {
	/*width: 145px;*/
	margin-left: 7px;
	margin-bottom: 11px;
	float: left;
	font-size: 95%;
	font-weight: bold;
	/*border: 1px blue solid;*/
	}

.collection-guide .row1-left .collection-item-available {
	/*width: 145px;*/
	margin-left: 7px;
	margin-top: 0px;
	float: left;
	font-size: 95%;
	font-weight: bold;
	/*border: 1px blue solid;*/
	}
	
.collection-guide .row2-left .collection-heading {
	width: 100px;
	float: left;
	font-weight: bold;
	/*border: 1px blue solid;*/
	}

.collection-guide .row2-left .collection-description {
	width: 470px;
	float: left;
	/*border: 1px red solid;*/
	}

.collection-guide .collection-description .more {
	margin-left: 5px;
	}

.collection-guide .collection-description .more a {
	color: #b24414;
	font-size: 85%;
	}

.collection-guide .row2-right {
	float: right;
	display: inline;
	margin-right: 7px;
	width: 306px;
	height: 457px;
	/*background-color: #fff;*/
	}

.collection-guide .row2-right-top {
	width: 306px;
	height: 450px; 
	overflow: auto;
	background-color: #e1e8e9;
	/*border: 1px red solid;*/
	}

.collection-guide .row2-right-top-inner {
	padding: 4px 0px 4px 10px;	
	}

.collection-guide .search-hits {
	padding: 5px 10px 5px 0px;
	overflow: hidden;
	width: 90%;
	}

.collection-guide .number-search-hits {
	float: left;
	font-size: 90%;
	font-weight: normal;
	color: #617805;
	}

.collection-guide .clear-search-hits {
	float: left;
	margin-left: 15px;
	font-size: 85%;
	}

.collection-guide .clear-search-hits a:link,
.collection-guide .clear-search-hits a:visited {
	text-decoration: underline;
	}

.collection-guide .clear-search-hits a:hover,
.collection-guide .clear-search-hits a:active {
	text-decoration: none;
	}

.collection-guide .row2-right-top .collection-contents-container {
	margin: 0px 10px 0px 0px;
	padding: 0px 5px 0px 0px;
	/*border: 1px blue solid;*/
	}

.collection-guide .row2-right-top .heading {
	font-size: 110%;
	font-weight: bold;
	}

.collection-guide-contents-container ul {
	padding-left: 1px;
	}

.collection-contents-container li {
	list-style: none;
	font-size: 85%;
	margin-left: 0px;
	margin-bottom: 2px;
	/* border: 1px blue solid; */
	}

.collection-contents-container a:link,
.collection-contents-container a:visited {
	text-decoration: underline;
	}

.collection-contents-container a:hover,
.collection-contents-container a:active {
	text-decoration: none;
	}

.collection-contents-container a.on {
	font-weight: bold;	
	}

.collection-contents-container a.off {
	font-weight: normal;	
	}

.collection-guide .toc-titles {
	margin-right: 7px;
	padding: 4px 10px 4px 10px;
	font-size: 90%;
	/*border: 1px green solid;*/
	}

.collection-guide .toc-titles .title1 {
	margin-bottom: 2px;
	}

.collection-guide .toc-titles .title2 {
	margin-bottom: 2px;
	margin-left: 20px;
	}


.collection-guide .toc-titles .title1 a,
.collection-guide .toc-titles .title2 a {
	font-size: 85%;
	/*border: 1px red solid;*/
	}

.collection-guide .row2-right-bottom {
	float: right;	
	width: 313px;
	height: 62px;
	margin-top: 6px;
	background-color: #e7e4e3;
	/*border: 1px blue solid;*/
	}

.collection-guide .row2-right-bottom-inner {
	padding: 5px 0px 5px 10px;
	font-size: 90%;
	/*border: 1px blue solid;*/
	}

.collection-guide .row2-right-bottom-inner .comments-heading {
	font-size: 110%;
	font-weight: bold;
	}

.collection-guide .row2-right-bottom-inner .comments-sign-in a:link,
.collection-guide .row2-right-bottom-inner .comments-sign-in a:visited {
	text-decoration: underline;
	}

.collection-guide .row2-right-bottom-inner .comments-sign-in a:hover,
.collection-guide .row2-right-bottom-inner .comments-sign-in a:active {
	text-decoration: none;
	}

.collection-guide .row2-right-bottom-inner .comments-view {
	font-size: 90%;
	margin-top: 2px;
	}

.collection-guide .collection-contents a:link,
.collection-guide .collection-contents a:visited,
.collection-guide .row2-right-bottom-inner .comments-view a:link,
.collection .row2-right-bottom-inner .comments-view a:visited {
	text-decoration: underline;
	}

.collection-guide .row2-right-bottom-inner .comments-view a:hover,
.collection-guide .row2-right-bottom-inner .comments-view a:active {
	text-decoration: none;
	}

.collection-guide .title {
	margin: 12px 0px 0px 0px;
	height: 40px;
	font-size: 120%;
	/*border: 1px green solid;*/
	}

.collection-guide .institution {
	/*font-size: 90%;
	font-weight: bold;*/
	margin: 8px 90px 0px 0px;
	/*border: 1px black solid;*/
	}

.collection-guide .institution a:link,
.collection-guide .institution a:visited,
.collection-guide .institution a:hover,
.collection-guide .institution a:active {
	color: #335c64;
	font-size: 85%;
	font-weight: normal;
	font-style: normal;
	}

.collection-guide .collection-number {
	height: 28px;
	font-size: 90%;
	font-weight: bold;
	/*padding-top: 0px;*/
	margin: 10px 0px 0px 0px;
	/*border: 1px blue solid;*/
	}

/*.collection-guide .location-row {
	margin: 5px 0px 0px 0px;
	height: 40px;
	width: 492px;
	border: 1px black solid;
	}*/

.collection-guide .location-row .car-icon {
	margin-bottom: 0px;
	}

.collection-guide .location {
	margin-left: 0px;
	}
	
.collection-guide .location-row .location-link {
	padding-left: 2px;
    position: absolute;
	width: 100%;
	height: 15px;
	}

.collection-guide .location-row a:link,
.collection-guide .location-row a:visited,
.collection-guide .location-row a:hover,
.collection-guide .location-row a:active {
	color: #c2492c;
	font-size: 90%;
	margin-top: 0px;
	margin-left: 0px;
	}

.collection-guide .collection-location-offline {
	height: 13px;	
	margin-left: 0px;
	margin-top: 5px;
	}

.collection-guide .location-row .collection-items-online {
	margin-left: 0px;
	}

/*.collection-guide .eye-icon {
	margin-top: 0px;
	}
	
.collection-guide .collection-items {	

	}*/


.collection-contents .online {
	height: 20px;
	overflow: hidden;
	width: 50%;
	/*text-indent: .40em;*/
	margin-top: .50em;	
	margin-left: 1em;
	margin-bottom: .50em;
	border:1px solid #b24415;
}

.collection-contents .online .left {
	float: left;
	width: 45px;
	height: 20px;
	margin: 0px 3px 0px 0px;
}

.collection-contents .online .right {
	float: left;
	margin-left: 0px;
	margin-bottom: 0px;	
}

.collection-guide .collection-items .online {
	height: 20px;
	overflow: hidden;
	width: 30%;
	/*text-indent: .40em;*/
	margin-top: .50em;	
	margin-left: 1em;
	margin-bottom: .50em;
	border:1px solid #b24415;
}

.collection-guide .collection-items .online .left {
	float: left;
	width: 45px;
	height: 20px;
	margin: 0px 3px 0px 0px;
}

.collection-guide .collection-items .online .right {
	float: left;
	margin-left: 0px;
	margin-bottom: 0px;	
}

.collection-guide .collection-items .online .right .online-items {
	margin-left: 0px;
}
	
.collection-guide .online-items {
	margin-left: 2px;
	color: #c2492c;
	}

.collection-guide .no-online-items {
	margin-left: 4px;
	margin-top: 0px;
	color: #000;
	font-size: 90%;
	font-weight: bold;
	/*border: 1px red solid;*/
	}

.collection-guide .navCategory .icon,
.collection-guide .c02 .icon,
.collection-guide .c01 .icon {
	margin-right: 2px;
	}

.collection-guide .collection-contents .c02 {
	padding-left: 30px;
	/*border: 1px red solid;*/
	}

.collection-guide .collection-contents .c03 {
	padding-left: 40px;
	/*border: 1px blue solid;*/
	}

.collection-guide .collection-contents .c04 {
	padding-left: 40px;
	/*border: 1px green solid;*/
	}

.collection-guide .collection-contents .c05 {
	padding-left: 40px;
	/*border: 1px purple solid;*/
	}

.collection-guide .collection-contents .c06 {
	padding-left: 40px;
	/*border: 1px black solid;*/
	}

.collection-guide .collection-contents .c07 {
	padding-left: 40px;
	/*border: 1px black solid;*/
	}

.collection-guide .collection-contents .c08 {
	padding-left: 40px;
	/*border: 1px black solid;*/
	}

.collection-guide .collection-contents .c09 {
	padding-left: 40px;
	/*border: 1px black solid;*/
	}

.collection-guide .collection-contents .c10 {
	padding-left: 40px;
	/*border: 1px black solid;*/
	}

.collection-guide .collection-contents .c11 {
	padding-left: 40px;
	/*border: 1px black solid;*/
	}
	
.collection-guide .collection-contents .c12 {
	padding-left: 40px;
	/*border: 1px black solid;*/
	}

/* TOP RIGHT COLLECTION GUIDE STYLES */

.collection-guide .row1-right-mid-2 .heading, 
.collection-guide .row1-right-top .heading {
	font-size: 110%;
	font-weight: bold;
	margin-left: 7px;
	padding: 2px 0px 5px 0px;	
	}

.collection-guide .row1-right-mid .bullet-icon {
	margin: 4px 4px 0px 8px; 
	}

.collection-guide .row1-right-mid .guide-entire {
	font-size: 85%;
	width: 250px;
	margin: 0px 20px 0px 0px;
	/*border: 1px red solid;*/
	}

.collection-guide .row1-right-mid .guide-entire a:link,
.collection-guide .row1-right-mid .guide-entire a:visited {
	text-decoration: none;
	}

.collection-guide .row1-right-mid .guide-entire a:hover,
.collection-guide .row1-right-mid .guide-entire a:active {
	text-decoration: underline;
	color: #c2492c;
	}

.collection-guide .row1-right-mid .guide-download {
	/*font-size: 	85%;*/
	width: 25px;
	margin: 0px 0px 0px 0px;
	}

.collection-guide .row1-right-mid .guide-download a:link,
.collection-guide .row1-right-mid .guide-download a:visited {
	text-decoration: none;
	}

.collection-guide .row1-right-mid .guide-download a:hover,
.collection-guide .row1-right-mid .guide-download a:active {
	text-decoration: underline;
	color: #c2492c;
	}

.collection-guide .row1-right .collection-search {
	margin: 3px 10px 0px 7px;
	border: none;
	/*border: 1px #626665 solid;*/
	}

.collection-guide .row1-right .collection-search .col-left {
	float: left;
	margin-left: 0px;
	margin-top: 0px;	
	/*border: 1px red solid;*/
	}

.collection-guide .row1-right .collection-search .col-right {
	float: left;
	margin-left: 10px;
	margin-top: 0px;
	/*border: 1px black solid;*/
	}

.collection-guide .row1-right .search-inside {
	font-size: 85%;
	font-weight: bold;
	}

.collection-guide .row1-right .col-left .radio-button-top {
	font-size: 85%;
	font-weight: normal;
	margin-top: 2px;
	margin-bottom: 0px;
	}

.collection-guide .row1-right .col-right .radio-button {
	font-size: 85%;
	font-weight: normal;
	margin-top: 2px;
	margin-bottom: 0px;
	}

.collection-guide .text-field {
	width: 250px;
	}

.collection-guide .pagination-hdr {
        width: 585px;
        height: 28px;
        margin: 8px 0px 24px 6px;
        border: 1px #918f90 solid;
        }

.collection-guide .pagination-hdr .pagination-item {
        margin-right: 15px;
        color: #161415;
        font-size: 90%;
        font-weight: bold;
        }

 .collection-guide #results-page .caption  {
	   	padding-right: 6px;
		/*border: 1px green solid; */ 
 		}

 .collection-guide #results-page span  {
		margin-left: 2px;
		margin-right: 2px;		
	   	/*border: 1px black solid;*/   
        }

.collection-guide .pagination-hdr #results-page a {
        font-weight: bold;
		margin-left: 2px;
		margin-right: 2px;	
		/*border: 1px red solid;*/
        }

.collection-guide .pagination-hdr table {
        width: 100%;
        margin: 3px 0px 0px 8px;
        }

.collection-guide .pagination-hdr .pagination-item a {
		text-decoration: underline;
      /*border: 1px red solid;*/
		}

/*.collection-guide .pagination-hdr .pagination-item .go-hide {
		margin-left: 3px;
        }*/

.collection-guide .marc {
	visibility: hidden;
	border:  #bcc9ca;
	background-color: #bcc9ca;
}

